<!DOCTYPE html>
<meta charset="utf-8">
<title>Ansible Pet Patching</title>

<style>
* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    color: #0099FF;
    font-size: 300%;
    text-shadow: 0.1em 0.1em 0.2em #ccc;
}

header, form, table {
    margin: 1em;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0.3em;
    border: 1px solid black;
}

input[type="submit"] {
    padding: 0.2em;
}

.uptodate {
    background-color: greenyellow;
    color: black;
}
</style>

<header>
<h1>Ansible Pet Patching</h1>
</header>

{% block body %}

{% endblock %}
